.deps/
.vagrant/
.vscode/
.DS_Store
CMakeFiles
cmake-build-debug
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
doxygen-doc/
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*.c~
*.h~
*.plist
.libs
ChangeLog
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
GPATH
GRTAGS
GTAGS
tmp/
tmp32/
tmp64/
build/
token2-piv-tool-*-win32.zip
token2-piv-tool-*-win32.zip.sig
token2-piv-tool-*-win64.zip
token2-piv-tool-*-win64.zip.sig
token2-piv-tool-*.tar.gz
token2-piv-tool-*.tar.gz.sig
token2-piv-tool-*-mac.zip
token2-piv-tool-*-mac.zip.sig
lib/tests/api
lib/tests/api.log
lib/tests/api.o
lib/tests/api.trs
lib/tests/basic
lib/tests/basic.log
lib/tests/basic.o
lib/tests/basic.trs
lib/tests/parse_key
lib/tests/parse_key.log
lib/tests/parse_key.o
lib/tests/parse_key.trs
lib/tests/test-suite.log
lib/tests/test-config.h
lib/error.lo
lib/error.o
lib/internal.la
lib/internal.lo
lib/internal.o
lib/libt2piv.la
lib/util.la
lib/util.lo
lib/util.o
lib/version.lo
lib/version.o
lib/t2piv-config.h
lib/t2piv.lo
lib/t2piv.o
lib/t2piv.pc
lib/.libs/
# tool/cmdline.c
# tool/cmdline.h
tool/cmdline.o
tool/token2-piv-tool
tool/token2-piv-tool.1
tool/token2-piv-tool.exe
tool/token2-piv-tool.o
tool/.libs/
tool/libpiv_cmd.la
tool/libpiv_cmd_la-cmdline.lo
tool/libpiv_cmd_la-cmdline.o
tool/libpiv_util.la
tool/openssl-compat.lo
tool/openssl-compat.o
tool/util.lo
tool/util.o
tool/tests/cert_9a.pem
tool/tests/cert_9e.pem
tool/tests/basic.sh.log
tool/tests/basic.sh.trs
tool/tests/key_9a.pub
tool/tests/parse_name
tool/tests/parse_name.log
tool/tests/parse_name.o
tool/tests/parse_name.trs
tool/tests/req_9e.pem
tool/tests/test_inout
tool/tests/test_inout.log
tool/tests/test_inout.o
tool/tests/test_inout.trs
tool/tests/test-suite.log
coverage/
lib/error.gcno
lib/version.gcno
lib/t2piv.gcno
tool/util.gcno
tool/token2-piv-tool.gcda
tool/token2-piv-tool.gcno
t2cs11/.libs/
t2cs11/*.o
t2cs11/*.lo
t2cs11/t2cs11.pc
t2cs11/libt2cs11.la
t2cs11/t2cs11-config.h
t2cs11/tests/reset.sh.log
t2cs11/tests/reset.sh.trs
t2cs11/tests/test-suite.log
t2cs11/tests/t2cs11_tests
t2cs11/tests/t2cs11_tests.log
t2cs11/tests/t2cs11_tests.o
t2cs11/tests/t2cs11_tests_util.o
t2cs11/tests/t2cs11_tests.trs
t2cs11/tests/t2cs11_tests.exe
token2-piv-tool.1.txt
